# Build artifacts
build/

# Dist directory - ignore all, but keep the main executable
dist/*
!dist/TunnelManager.zip
!dist/TunnelManager
*.spec

# Virtual environment
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.pyc